h1 {
    color: red;
    font-family: 'Breaker The Brush';

}

@font-face {
    font-family: 'Breaker The Brush';
    src: url('BreakerTheBrush-Regular.woff2') format('woff2'),
        url('BreakerTheBrush-Regular.woff') format('woff'),
        url('BreakerTheBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
